[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
scrapy = "*"
"autopep8" = "*"
scrapy-splash = "*"
scrapy-fake-useragent = "*"
"pywin32" = "*"

[dev-packages]
pylint = "*"

[requires]
python_version = "3.6"
